In [20]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from src.data.data_dtypes import df_original_dtypes
from src.utils import init_notebook

In [21]:
init_notebook()

In [22]:
df_1 = pd.read_csv(
    "data/kickstarter_1.csv",
    parse_dates=True,
)

In [26]:
dfs = [pd.read_csv(f"data/kickstarter_{i}.csv") for i in range(1, 5)]
df = pd.concat(dfs, ignore_index=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4175 entries, 0 to 4174
Data columns (total 56 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   day_succ                    4175 non-null   int64
 1   Status                      4175 non-null   int64
 2   cat1                        4175 non-null   int64
 3   cat2                        4175 non-null   int64
 4   cat3                        4175 non-null   int64
 5   cat4                        4175 non-null   int64
 6   cat5                        4175 non-null   int64
 7   cat6                        4175 non-null   int64
 8   cat7                        4175 non-null   int64
 9   cat8                        4175 non-null   int64
 10  cat9                        4175 non-null   int64
 11  cat10                       4175 non-null   int64
 12  cat11                       4175 non-null   int64
 13  cat12                       4175 non-null   int64
 14  cat13                       4175 non-null   int64
 15  cat14                       4175 non-null   int64
 16  cat15                       4175 non-null   int64
 17  curr1                       4175 non-null   int64
 18  curr2                       4175 non-null   int64
 19  curr3                       4175 non-null   int64
 20  curr4                       4175 non-null   int64
 21  curr5                       4175 non-null   int64
 22  curr6                       4175 non-null   int64
 23  goal                        4175 non-null   float64
 24  backers                     4175 non-null   float64
 25  pledged                     4175 non-null   float64
 26  duration                    4175 non-null   float64
 27  updates                     4175 non-null   float64
 28  comments                    4175 non-null   float64
 29  rewards                     4175 non-null   float64
 30  facebook_connected          4175 non-null   int64
 31  facebook_friends            4175 non-null   float64
 32  facebook_shares             4175 non-null   float64
 33  has_video                   4175 non-null   int64
 34  creator_projects_created    4175 non-null   float64
 35  creator_projects_backed     4175 non-null   float64
 36  videos                      4175 non-null   float64
 37  images                      4175 non-null   float64
 38  words_description           4175 non-null   float64
 39  words_risks_and_challenges  4175 non-null   float64
 40  faqs                        4175 non-null   float64
 41  prj_prom                    4175 non-null   float64
 42  crt_suc_perc                4175 non-null   float64
 43  usr_net_pg_rnk              4175 non-null   float64
 44  usr_net_nodes               4175 non-null   float64
 45  usr_net_tie                 4175 non-null   float64
 46  usr_net_bic                 4175 non-null   float64
 47  1f_plg                      4175 non-null   float64
 48  1f_bck                      4175 non-null   float64
 49  1prj_prom                   4175 non-null   float64
 50  2f_plg                      4175 non-null   float64
 51  2f_bck                      4175 non-null   float64
 52  2prj_prom                   4175 non-null   float64
 53  3f_plg                      4175 non-null   float64
 54  3f_bck                      4175 non-null   float64
 55  3prj_prom                   4175 non-null   float64
dtypes: float64(31), int64(25)
memory usage: 1.8 MB

In [23]:
event_times = df["day_succ"]
event_observed = df["Status"]

event_times_no_censoring = df["day_succ"][df["Status"] == 1]
event_observed_no_censoring = df["Status"][df["Status"] == 1]

In [24]:
df_original = pd.read_csv(
    "data/18k_Projects.csv",
    parse_dates=["Start", "End"],
    sep="\t",
    dtype=df_original_dtypes,
)

C:\Users\AB2-PC\AppData\Local\Temp\ipykernel_7372\2606616299.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_original = pd.read_csv(